<div class="row">
  <div class="col-9 col-sm-7 col-md-8 col-lg-9 col-xl-9">
    <div class="navbar"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut metus vel leo viverra pharetra.
      Vestibulum tincidunt suscipit dictum. Fusce congue velit augue, non fermentum nisl sollicitudin eget. Curabitur
      nunc purus, dapibus in libero eu, maximus volutpat dui. Quisque accumsan eros id turpis tempus, vitae lacinia
      ipsum fringilla. Cras vitae tincidunt turpis, et porttitor eros. Etiam magna elit, rhoncus a posuere vel,
      euismod vitae tellus. Curabitur hendrerit vulputate tortor, non cursus augue tristique nec.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>

    <p>Nullam sed efficitur purus. Nunc eu turpis metus. Cras luctus varius eros vel feugiat. Aliquam eget mauris eget
      massa ullamcorper imperdiet. Ut nec ultricies lacus. Nulla eu eros et felis mattis semper. Maecenas pellentesque
      sollicitudin tortor faucibus feugiat. Nam volutpat arcu massa, a finibus ex laoreet in. In eros risus, rhoncus
      quis mauris et, posuere ornare ex. Nulla sed sodales mauris. Ut sit amet viverra tortor.</p>

    <p>Aliquam erat volutpat. Etiam ornare enim vel scelerisque ultrices. Nulla ut lorem magna. Nunc eget tempus felis.
      Phasellus leo risus, ultrices ac semper sit amet, suscipit vitae augue. Nullam laoreet sed mauris ut maximus.
      Nulla ultrices nunc et magna dapibus cursus. Aliquam erat volutpat. Sed id nunc non dolor molestie imperdiet.
      Suspendisse quis est quis urna maximus laoreet. Integer malesuada, purus non semper aliquet, est arcu placerat
      leo, non molestie dui metus ut risus. In elementum magna nec leo vulputate venenatis. Nulla posuere enim lacus,
      aliquam posuere mi egestas eu. Phasellus at leo laoreet tortor lobortis finibus eget quis ipsum. Suspendisse sit
      amet nisl nec sem ultrices vehicula in a quam.</p>

    <p>Phasellus commodo molestie rutrum. Curabitur ac metus finibus, porta orci sit amet, fringilla lectus. Duis
      dapibus gravida facilisis. Suspendisse tempor est viverra est vulputate, ut pulvinar metus imperdiet. Mauris
      aliquet sollicitudin ligula, sit amet lacinia dui bibendum non. Praesent id suscipit velit. Cras ac arcu libero.
      Mauris tempor lacinia neque, vitae sagittis massa tincidunt eu. Proin nec aliquam justo.</p>
  </div>
  <div class="col-3 col-sm-5 col-md-4 col-lg-3 col-xl-3 page_sidebar">
    <h3>Szybki kontakt</h3>
    <i aria-hidden="true" class="fa fa-instagram"></i>&nbsp;&nbsp;<a href="www.facebook.com">Facebook</a><br>
    <i aria-hidden="true" class="fa fa-instagram"> </i>&nbsp;&nbsp;<a href="www.instagram.com">Instagram</a><br>
    <i aria-hidden="true" class="fa fa-envelope-o"> </i>&nbsp;&nbsp;<a href="www.facebook.com">Email</a><br>
  </div>
</div>

<footer class="page_footer text_center">
  <span>Copyrights &copy; Marcin Siedlik | 2020</span>
</footer>
