<ul class="nav">
  <li class="nav-item">
    <a [routerLink]="['/']" class="nav-link active">Home</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/blog']" class="nav-link">Blog</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/contact']" class="nav-link">Kontakt</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/add-post']" class="nav-link active">Add post</a>
  </li>
  <a *ngIf="!authService.currentUser" class="nav-link" routerLink="/login">Zaloguj</a>
  <button (click)="logOut()" *ngIf="authService.currentUser" class="nav-link">Wyloguj</button>
  <a *ngIf="!authService.currentUser" class="nav-link" routerLink="/signup">Zarejestruj</a>

</ul>
