<form>
  <div class="form-group">
    <label for="name">Imię</label>
    <input class="form-control" id="name" placeholder="Podaj imie" type="email">
  </div>

  <div class="form-group">
    <label for="surname">Nazwisko</label>
    <input class="form-control" id="surname" placeholder="Podaj nazwisko" type="email">
  </div>

  <div class="form-group">
    <label for="email">Adres Email</label>
    <input class="form-control" id="email" placeholder="Podaj email" type="email">
  </div>

  <div class="form-check">
    <input class="form-check-input" id="male" type="radio" value="male">
    <label class="form-check-label" for="male">Mężczyzna</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" id="female" type="radio" value="famale">
    <label class="form-check-label" for="female">Kobieta</label>
  </div>

  <div class="form-group">
    <label for="desc">Opis</label>
    <textarea class="form-control" id="desc" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="age">Wiek</label>
    <input class="form-control" id="age" placeholder="Podaj wiek" type="number">
  </div>

  <div class="form-group">
    <label for="state">Stan cywilny</label>
    <select class="form-control" id="state">
      <option>Niezamężny</option>
      <option>Zamężny</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
